<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Calendly</title>
</head>
<body>
    <div style="margin-top: 40px;">
        <a style="margin-left:850px;"><img width="30px"src="logo-square-cd364a3c33976d32792a.png"><span style="color: dodgerblue;font-weight:bold;font-size:30px;">
            Calendly</span></a>
            <p style="margin-left:800px;margin-top:40px;font-size:20px;opacity:80%;">Sign up with Calendiy for free</p>
        <div style="border-top: 1px solid gray;box-shadow:0px 2px 10px gray;border-radius:10px;width:500px;height: 400px;margin-left:690px;margin-top:50px;">
            <form style="margin-top: 30px;margin-left: 80px;">
            <label style="font-family: sans-serif;font-weight: bold;">Enter your eamil to get started.</label></br>
            <input style="width: 350px;height:30px;margin-top:20px;border-radius: 5px;border-color: dodgerblue;outline: none;" type="email" required placeholder="Example@gmail.com"></br>
            <input  style="width: 360px;margin-top: 20px;height:35px;border-radius:50px;border:none;background-color: dodgerblue;color:white;"type="submit" value="Get Started">
            </form>
            <p style="margin-top:40px;">_____________________________OR_______________________________</p>
            <form style="margin-top:60px;margin-left:80px;">
                <button style="width: 350px;border-radius:50px;height:40px;background-color:white;border:1px solid black;">
                    <img src="//assets.calendly.com/assets/authentication/media/google-a1417560f643c2131124.svg">
                    <span style="margin-left: 10px;">Sign up with Google</span></button>
                <p style="margin-top:40px;">Already have an account? <a style="text-decoration:none; color: dodgerblue;" href="logIn.html">Log In</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>