<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <style>
     body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-top: 2em;
}

p {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin-top: 1em;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 3em;
}
    </style>
</head>
<body>
<div class="container">
  <p style="font-size:25px;">500 Something Bad happens</p>
  <h1>We are looking into the situation....</h1>
  <p>Please Return to <a href="/dashboard">Home</a></p>
</div>
</body>
</html>
