header{
    margin-left:400px;
}
#headNav{
    padding-top: 40px;
}
.headNav{
    text-decoration: none;
    color: black;    
}
#homeHidden{
    position:absolute;
    background-color: white;
    width: 140px;
    display: none;
    height: 140px;
    margin-top:20px;
    margin-left:-40px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
}
#viewHidden{
    height:60px;
}
#homeHidden>div{
    margin-top: 15px;
}
.homeHidden:hover{
    color: dodgerblue;
}
.homeHidden{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    opacity: 70%;
}
#viewHidden:hover #homeHidden{
    display: block;
}
.userHidden:hover{
color: dodgerblue;
opacity: 70%;
}
.userHidden{
    text-decoration: none;
    opacity: 70%;
    color:black;
    padding-left: 15px;
}
#userHidden>div{
    margin-top: 17px;
}
#userHidden{
    position: absolute;
    background-color: white;
    display: none;
    width:200px;
    height: 310px;
    margin-top: 20px;
    margin-left: -70px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}
#ViewUserHidden:hover #userHidden{
    display: block;
}
.bodyNav{
    text-decoration: none;
    color:black;
    font-weight: bold;
    opacity: 50%;
}
.bodyNav:hover{
    color: dodgerblue;
    opacity: 100%;
}
#nav>div{
    height:60px;
}
.events{
background:tan;
}